*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}



body {
  font-size: 18px;
  line-height: 1.5;
  color: hsl(215, 51%, 70%);
  background: hsl(217, 54%, 11%);
  padding: 5em;
  padding-left: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  display: grid;
  place-items: center;
  min-height:100vh;
}

main {
  width: fit-content;
  background: hsl(216, 50%, 16%);
  padding: 1.5em;
  border-radius: 5px;
}

.img-container {
  height: 280px;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.4s ease-in;
}

.img-main {
  height: 100%;
  border-radius: 5px;
}

.img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%);
  opacity: 0.4;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.4s ease-in;
}

.img-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.4s ease-in;
}

.img-container:hover .img-background {
  z-index: 10;
}

.img-container:hover .img-eye {
  z-index: 12;
}

h2 {
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  transition: all 0.4s ease-in;
}

h2:hover {
  color: hsl(178, 100%, 50%);
}

.card-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75em 0;
  font-weight: bold;
  padding-bottom: 1em;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.accent-green {
  color: hsl(178, 100%, 50%);
}

.card-footer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.avartar-img {
  height: 40px;
  width: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.author {
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
  transition: all 0.4s ease-in;
}

.author:hover {
  color: hsl(178, 100%, 50%);
}
